/*Use the width property to determine the width of the input field:*/
input {
    width: 20%;
}
/*Use the padding property to add space inside the text field.

Tip: When you have many inputs after each other, you might also want to add some margin, to add more space outside of them:*/
input[type=text],input[type=password],select,textarea {
    width: 70%;
    padding: 5px 10px;
    margin: 0px 0;
    box-sizing: border-box;
    border: 2px solid ;
    border-radius: 2px;
    
}


/*Use the background-color property to add a background color to the input, and the color property to change the text color:*/
input[type=text],input[type=password] {
    /*background-color: #3CBC8D;
    color: white;*/
}
/*By default, some browsers will add a blue outline around the input when it gets focus (clicked on). You can remove this behavior by adding outline: none; to the input.

Use the :focus selector to do something with the input field when it gets focus:*/
input[type=text]:focus,input[type=password]:focus {
    background-color: lightblue;
}
/*
If you want an icon inside the input, use the background-image property and position it with the background-position property. Also notice that we add a large left padding to reserve the space of the icon:
*/
/*
input[type=text] {
background-color: white;
background-image: url('searchicon.png');
background-position: 10px 10px; 
background-repeat: no-repeat;
padding-left: 40px;
}
*/
/* Styling Input Buttons */

input[type=button], input[type=submit], input[type=reset] ,button{
    background-color: black;
    box-sizing: border-box;
    color: white;
    padding: 16px 32px;
   
    text-decoration: none;
    margin: 4px 2px 0px 20%;
    cursor: pointer;
    
}

/* Tip: use width: 100% for full-width buttons */

input[type=file]{
    width: 70%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid ;
    border-radius: 2px;
   
    text-decoration: none;
    border-radius:3px;
    
    
}

input[type=date] {
    width: 40%;
    padding: 0px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 3px;
}